{% extends 'encyclopedia/layout.html' %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}

    <form action="{% url 'encyclopedia:create' %}" method="post">
        {% csrf_token %}
        <table class="table table-borderless"> {{ form.as_table }} </table>
        <div class="container">
            <input class= "btn btn-primary" type="submit" value="Publish">
            <hr>
            <a href="https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">Github Markdown Syntax</a>
        </div>
   </form>

{% endblock %}